language: python
python:
  - "3.9"
os: linux
addons:
  chrome: stable

before_install:
  - python -m pip install --upgrade pip

install:
  # Step 1 : Install virtual environment
  - python -m venv env
services:
  - postgresql
branches:
  only:
    - staging
    - main
env:
  global:
    - PGPORT=5432
script:

  # Step 2 : Installing libraries needed
  - pip install -r requirements.txt

  # Step 3 : Installing database
#  - export ENV='production'
  - sudo -u postgres psql -c 'create user postgres;'
  - sudo -u postgres psql -c 'create database chinese_folktales_bdd;'
  - sudo -u postgres psql -c 'ALTER ROLE postgres SET client_encoding TO "utf8";'
  - sudo -u postgres psql -c 'ALTER ROLE postgres SET default_transaction_isolation TO "read committed";'
  - sudo -u postgres psql -c 'ALTER ROLE postgres SET timezone TO "Europe/Paris";'
  - sudo -u postgres psql -c 'ALTER ROLE postgres WITH SUPERUSER;'
  - sudo -u postgres psql -c 'GRANT ALL PRIVILEGES ON DATABASE chinese_folktales_bdd TO postgres;'
  - sudo -u postgres psql -c 'GRANT USAGE, SELECT ON ALL SEQUENCES IN SCHEMA public TO postgres;'
  - sudo -u postgres psql -c '\l'

  # Step 4 : Filling the database
  - python manage.py makemigrations
  - python manage.py migrate
  - python manage.py insert_data
#  - python manage.py collectstatic --noinput

  # Step 5 : Getting Chromedriver

  - wget https://chromedriver.storage.googleapis.com/111.0.5563.64/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip -d /Users/nicolassengmany/Desktop/OCR/Python/Projets/P13/chinese_folktales/chinese_folktales_website/tests/functional_tests/
  - export CHROME_BIN=chromium-browser

  # Step 6 : Testing the application
  - pytest

